body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
}

.login{
    background-color:black;
    font-size:medium;
    width: 200px;
    border:10px solid green;
    padding:50px;
    margin:20px;
    position:absolute;
    top: 30%;
    right:45%;
    color:white
}

